{%extends 'layaout.html' %}
{%block body%}

{%with messages= get_flashed_messages() %}
{%if messages%}
{%for message in messages%}



  <div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Operacion realizada exitosamente</strong><br></br><a href="#" class="alert-link">{{message}}</a>.
  </div>




{%endfor%}
{%endif%}
{% endwith %}

<h1>Sistema de empleados de rebuscados.inc</h1>
<br></br>
<h3>Agregue un nuevo empleado</h3>
<form action = "/add_contact" method="POST">
<input type ="text" name="nombre" placeholder="nombre">
<!--<input type ="text" name="id" placeholder="id">-->
<input type ="text" name="celular" placeholder="celular">
<input type ="text" name="correo" placeholder="correo">
<button ytpe="submit">
    Save
</button>
<br></br>
<h3>Empleados registrados </h3>
<table>
    <thread>
        <tr>
        <td>Nombre</td>    
        <td>Celular</td>    
        <td>Correo</td>    
           
        </tr>
    </thread>
    <tbody>
        {%for contact in contacts %}
    <tr>
        <td>{{contact.1}}</td>
        <td>{{contact.3}}</td>
        <td>{{contact.2}}</td>
        <td>
            <a href="/edit/{{contact.0}}">Editar<a/>
            <a href="/delete/{{contact.0}}">Borrar</a>
    </td>
    </tr>
        {%endfor %}
    </tbody>
</table>

{%endblock%}

</form>